<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech BLog</title>
</head>
<body>
    <main>
    <a class="nav-link nav-text" style="color: black;" href="/">Home</a>
    <a class="nav-link nav-text" id="loginText" style="color: black;" href="/login">Login</a>
    {{{body}}}
    </main>
</body>
</html>