See All User posts here.

<div>
    <div class="card pantryCard"style="max-width: 50rem;">
        <div>
            <h3 class="req_list"></h3>
                <div >
                    <ul id = "blog_posts">
            
                    </ul>
                </div>
        </div>

        <div>
            <button class = "supply_list pantryBtn" type = "submit">Edit Supply Request List</button>
        </div>

    </div>
    <span class = "editDeleteMessage"> </span>
</div>
