See All User posts here.

<div>
    <div class="card pantryCard"style="max-width: 50rem;">
        <div>
            
            <h3 class="post_list"></h3>
                {{#each posts as |post|}}
                <div >
                    <h2 id="postTitle">{{post.title}}</h2>
                    <h4 id="postContent">{{post.content}}</h4>
                </div>
                {{/each}}
        </div>

        <div>
            <button class = "supply_list pantryBtn" type = "submit">Edit Supply Request List</button>
        </div>

    </div>
    <span class = "editDeleteMessage"> </span>
</div>
<script src="./js/home.js"></script>